<div class="col-sm-offset-2 col-sm-8 col-xs-12">
  <div class="quote">
    <blockquote>
      <p><%= sanitize quote[:quote].content %></p>

      <h5><%= quote[:quote].chapter.entity.title %> -
        Chapitre <%= quote[:quote].chapter.chapter_id %> : <%= quote[:quote].chapter.title %>
      </h5>
      <%= render partial: "character_link", collection: quote[:related_characters] %>
      <%= link_to "Voir la citation", quote_path(id: quote[:quote].id) %>
      <%= social_share_button_tag(quote[:quote].content, url: quote_path(id: quote[:quote].id)) %>
    </blockquote>
  </div>
</div>
