<div class="col-sm-6 col-xs-12">
  <div class="quote">
    <blockquote>
      <p><%= sanitize quote[:quote].content %></p>

      <h5><%= quote[:quote].chapter.entity.title %> -
        Chapitre <%= quote[:quote].chapter.chapter_id %> : <%= quote[:quote].chapter.title %>
      </h5>
      <%= render partial: "quotes/character_link", collection: quote[:related_characters] %>
      <%= social_share_button_tag truncate(quote[:quote].content, length: 230, separator: ' '),
      url: url_for(controller: "quotes", action: "show", id: quote[:quote].id, only_path: false) %>
      <% if quote[:rating] == nil %>
        Aucune note -
        <% rating = 0 %>
      <% else %>
        Moyenne : <%= number_with_precision quote[:rating], precision: 2 %>/5 -
        <% rating = quote[:rating] %>
      <% end %>
      <% i = 1 %>
      <% rating.round(0).to_i.times do  %>
        <%= link_to "★", controller: "rating", action: "vote", quote_id: quote[:quote].id, value: i %>
        <% i = i + 1 %>
      <% end %>
      <% (5 - rating.round(0).to_i).times do  %>
        <%= link_to "✩", controller: "rating", action: "vote", quote_id: quote[:quote].id, value: i %>
        <% i = i + 1 %>
      <% end %>
    </blockquote>
  </div>
</div>
