<div class="container">
  <div class="row">
    <div class="jumbotron col-xs-12">
      <h2>⚡ Bienvenue dans la Pensine !</h2>
      <h4>Découvrez la plus grande collection de citations de la saga Harry Potter.
        Vous pouvez rechercher les citations par tome, par personnage, ou rechercher un mot, une expression en particulier...</h4>
      <h5>N'hésitez pas à donner une note aux citations, à les commenter, et à les partager sur Facebook ou sur Twitter.</h5>
    </div>
  </div>
  <div class="row">
    <div class="jumbotron col-xs-12">
      <h2>Les Personnages</h2>
      <div class="row">
        <% @CharacterTop.each do |character| %>
          <div class="character-link col-sm-1 col-xs-3">
            <a href="<%= url_for controller: :character, action: :show, id: character[0][:id] %>" >
              <%= image_tag character[0].avatar.url, class: "character-avatar img-circle img-thumbnail" %>
              <h6><b><%= character[0].name %></b></h6>
              <span class="badge"><%= character[1] %></span>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="jumbotron col-xs-12">
      <h2>Les Tomes et Films</h2>
      <div class="row">
        <% @Entities.each do |entity| %>
          <div class="entity-link col-sm-2 col-xs-3">
            <a href="<%= url_for controller: :entity, action: :show, id: entity[0][:id] %>" >
              <%= image_tag entity[0].poster.url, class: "img-thumbnail" %>
              <h6><b><%= entity[0].title %></b></h6>
              <span class="badge"><%= entity[1] %></span>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
      <%= render partial: "quotes/quote", collection: @quotes_tab %>
    </div>
  </div>
</div>
