<!DOCTYPE html>
<html>
  <head>
    <title>La Pensine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "autocomplete-rails.js" %>
  </head>

  <body>
    <div id="head-container" class="container">
      <%= link_to "⚡ La Pensine", root_path, class: "btn btn-info" %>
    </div>
    <div id="main-container" class="container">
      <%= yield %>
    </div>
  </body>
</html>
